<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


    <script src="/static/app.js"></script>
    <script src="/static/js/loading.js"></script>
    <link href="/static/css/loading.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <title>함무봐라 법전</title>
    <script>
        $(document).ready(function () {
            get_items("", "_id", '3d109c700000000000000000', '');
            io.observe(document.getElementById('last-pointer'))
        });

        function sign_out() {
            $.removeCookie('mytoken', {path: '/'});
            Swal.fire({
                icon: 'success',
                title: '로그아웃되었습니다.',
                showConfirmButton: false,
                timer: 1500
            }).then((result) => {
                window.location.href = "/login"
            })
        }

        const io = new IntersectionObserver((entries, observer) => {
            entries.forEach(entry => {
                if (!entry.isIntersecting) return;
                if (_scrollchk) return;
                observer.observe(document.getElementById('last-pointer'));
                get_items(storeVal, sortKeyVal, lastIdOfItem, searchVal)

                if (remain_item_size < 12) {
                    console.log("less then 12 remain... " + remain_item_size)
                    io.unobserve(document.getElementById('last-pointer'));
                    console.log('stop observer')
                    sleep(3000)
                }


            });
        });
    </script>
</head>
<body>
{% include'layout/header.html' %}
<div class="img-banner">
    <div class="dots">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<div class="container">
    <div class="search">
        <p>상품검색</p>
        <input id="search_input" type="text" onkeypress="if(window.event.keyCode==13){search_item()}">
        <button type="button" onclick="search_item()" class="btn btn-primary">검색</button>
    </div>
    <div id="item-list" class="item-list">
        <ul id="stores" class="list-nav">
            <li id="gs" onclick="change_store('gs')">GS25</li>
            <li id="cu" onclick="change_store('cu')">CU</li>
            <li id="s11" onclick="change_store('s11')">세븐일레븐</li>
        </ul>
        <div id="sort" class="sort">
            <span id="_id" onclick="change_sort('_id')">신제품 순</span>
            <span id="review" onclick="change_sort('review')">리뷰 많은 순</span>
            <span id="like" onclick="change_sort('like')">좋아요 순</span>
        </div>
        <div class="items"></div>
        <div class="load">
            <img src="/static/image/loading.gif" alt="loading image">
        </div>
        <div id="last-pointer"></div>
    </div>
    <div class="top-btn">
        <a href="#head">
            <p> TOP <span> > </span></p>
        </a>
    </div>
</div>
</body>
</html>